html {
    background-color: #363841;
}

* {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    font-family: 'Saira', sans-serif;

}

.navbar {
    color: white;
    padding: 1rem;
    background-color: #363841;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid #42454e;
    margin-bottom: 2rem;
}

.right-buttons {
    padding: 0.5rem;

}

.buttons {
    font-size: 1.5rem;
    color: whitesmoke;
}


.main {
    align-self: center;
    width: 40rem;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 6px;

}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1.5rem;


}

.main-tags {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}

.timer {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 7rem;
}


.start {
    display: flex;
    justify-content: center;
}

.start-button {

    font-size: 2rem;
    padding: 0rem 2rem;
    border-radius: 0.5rem;
    color: white;
    background-color: #4d505c;
    margin-bottom: 1.5rem;
    border-color: white;
    margin-right: 1rem;

}

.reset-button {
    font-size: 2rem;
    padding: 0rem 2rem;
    border-radius: 0.5rem;
    color: white;
    background-color: #4d505c;
    margin-bottom: 1.5rem;
    border-color: white;
}


.start-button:hover {
    background-color: #2e2e2e;
}

.reset-button:hover {
    background-color: #2e2e2e;
}

.todo {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-title {
    margin-top: 0.5rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.todo-input {
    font-size: 20px;
    color: white;
    /* width: 30rem; */
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid grey;
}

.todo-input:focus,
.todo-input:active {
    background-color: transparent;
    outline: none;
}

.todo-input::placeholder {
    color: white;
    text-align: left;
    font-size: 20px;
}

.tasks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.add-btn {
    font-size: 20px;
    color: white;
    background-color: rgb(49, 49, 49);
    border: 0;
    padding: 0px 10px;
    border-radius: 10px;
}

.both-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;


}


/* /////////////////////////////////Todo-list////////////////////////////////// */


.task-list>li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.list-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;


}

.task-list {
    margin-top: 0.5rem;
}


.list-edit {
    margin-top: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}

.list-delete {
    margin-top: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}

.for-task-bg {
    width: 37rem;
    margin: auto;
    background-color: #5f616981;
    justify-content: space-around;
    padding: 1rem 1.5rem;
    border-radius: 6px;
    /* border: solid red; */
}



/* ////////////////////////// Changes in Button CSS ////////////////////////////////////// */




.start-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #4d505c;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
    font-size: 1rem;
}

.start-button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #1DBC60;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}

.start-button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

.start-button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 2px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

.start-button:hover span {
    color: white;
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}


.reset-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #4d505c;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
    font-size: 1rem;
}

.reset-button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #e02424;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}

.reset-button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

.reset-button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 2px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

.reset-button:hover span {
    color: white;
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

