html {
    background-color: #363841;
}

* {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}
body{
    /* background-image: url("./assets/bg.png")  ; */
    /* background-position: center ; */
}

.navbar {
    color: white;
    padding: 1rem;
    background-color: #363841;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid #42454e;
    margin-bottom: 2rem;
}

.right-buttons {
    padding: 0.5rem;

}

.buttons {
    font-size: 1.5rem;
    color: whitesmoke;
}


.main {
    align-self: center;
    width: 40rem;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 6px;

}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1.5rem;
}

.main-tags {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}

.timer {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 7rem;
}


.start {
    display: flex;
    justify-content: center;
}

.todo {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-title {
    margin-top: 0.5rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.todo-input {
    font-size: 15px;
    color: white;
    /* width: 30rem; */
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid grey;
}

.todo-input:focus,
.todo-input:active {
    background-color: transparent;
    outline: none;
}

.todo-input::placeholder {
    color: white;
    text-align: left;
    font-size: 15px;
}

.tasks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.add-btn{
    position: relative;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    display: inline-block;
    border-radius: 0.625em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
   }
   
   .add-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .add-btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .add-btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
   .add-btn::after {
    background-color: #fff;
   }
   
   .add-btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }

.both-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;

}


/* /////////////////////////////////Todo-list////////////////////////////////// */


.task-list>li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.list-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}



.task-list {
    margin-top: 0.5rem;
}






.for-task-bg {
    width: 37rem;
    margin: auto;
    background-color: #5f616981;
    justify-content: space-around;
    padding: 1rem 1.5rem;
    border-radius: 6px;
    /* border: solid red; */
}



/* ////////////////////////// Changes in Button CSS ////////////////////////////////////// */




.start-button {
    margin-bottom: 1.5rem;
    margin-right: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #4d505c;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
    font-size: 1rem;
}

.start-button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #1DBC60;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}

.start-button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

.start-button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 2px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

.start-button:hover span {
    color: white;
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}



.reset-button {
    margin-bottom: 1.5rem;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #4d505c;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
    font-size: 1rem;
}

.reset-button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #e02424;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}

.reset-button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

.reset-button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 2px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

.reset-button:hover span {
    color: white;
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}


.list-width {
    max-width: 38rem;
    font-size: 20px;
}


.list-edit {
    margin: 0.5rem 0.5rem;
    padding: 0.5rem;
    background: rgb(59, 59, 59);
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    margin-left: 0rem;
    position: relative;
}


.list-edit:hover {
    color: black;
}

.list-edit:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

.list-edit:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}


.list-delete {
    padding: 0.5rem;
    margin: 0.5rem 0rem;
    background: rgb(59, 59, 59);
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}


.list-delete:hover {
    color: black;
}

.list-delete:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

.list-delete:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}


.list-width {
    display: flex;
    align-items: center;
}

.list-btns {
    width: 3.75rem;
}








@media screen and (max-width:600px) {
    

    .buttons{
        font-size: 1rem ;
    }
    
    .main{
        max-width: 90%;
    }
    .main-tags{
        font-size: 0.75rem;
    }

    .timer{
        font-size: 4rem ;
    }
    .both-buttons{
        max-width: 100%;
    }

    .start-button{
        font-size: 0.75rem;
       padding: 0rem 0.75rem;
    }
    
    .reset-button{
        font-size: 0.75rem;
        padding: 0rem 0.75rem;
    }

    .for-task-bg{
        max-width: 77%;
    }

    .todo-input{
        margin-right: 0;
        max-width: 100%;
        display: flex;
        align-self: flex-start;
    }
    .todo-input::placeholder{
        font-size: 0.65rem;
    }
    .add-btn{
        width: 4rem;
        font-size:0.5rem;
        padding:0.3rem 0.2rem;
       margin-right: 1rem;
    }
    .for-center-input{
        max-width: 50%;
        margin-right: 0;
    }

    .list-btns{
        width: 2.5rem;
        font-size: 0.5rem;
        padding: 0.3rem 0.2rem;
    }
    
    .list-width{
        font-size: 0.75rem;
    }
}